.App {
  text-align: center;
  background-color: aquamarine;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sticky-nav {
  position: sticky;
  top: 0;
}
.css123{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
}
.css122{
  text-align: center;
  color: blue;
  background-color: beige;
  font-style: italic;
}
#css123{
  background-color: blanchedalmond;
  margin-top: 1em;
  padding: 2em;
}
.css133{
  background-color: blanchedalmond;
  color: blue;
  font-style: italic;
  padding: 1em;
}
#css111{
  background-color: blanchedalmond;
  color: blue;
  font-style: italic;
  padding: 1em;
}